body{
    background-image: url(../Imagenes/Fondo_main.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-main {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.nombre{
    font-size: 2.5rem;
}

.logo-nombre{
    padding-left: 15%;
}

.botones{
    margin-left: 5%;
}

.boton-carta{
    width: 100%;
}

.contenedor-cartas{
    margin-top: 6%;
}

#borroso{
    position: fixed; /* Abarca toda la pantalla */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurecimiento */
    backdrop-filter: blur(5px); /* Efecto de desenfoque */
    z-index: 9998; /* Asegura que esté por encima de todo menos del formulario*/
    display: none; /* Inicialmente oculto */
}

.inicio{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.registro{
    background-color: rgb(255, 255, 255);
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.usuario{
    margin-left: 25%;
}