body{
    background-image: url(/Imagenes/Fondo\ main\ 1920.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-main {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

.nombre{
    font-size: 2.5rem;
}

.logo-nombre{
    padding-left: 15%;
}

.botones{
    margin-left: 18%;
}

.boton-carta{
    width: 100%;
}

.contenedor-cartas{
    margin-top: 10%;
}